h1{
    color: blueviolet;
    
}
p{
    color: brown;
}
.paragraf1{
    color: chocolate;
    font-style: oblique;
    font-size: medium;
    margin-left: 40px;
    margin-right: 50px;
}
.paragraf2{
    color: darkgreen;
    font-style: italic;
    font-size: medium;
}
body{
    background-color: rgb(218, 162, 181);
}